
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-text, .navbar-inverse .navbar-link {
    color: #fff;}
.account-wrapper{width: 28%; margin:8% auto;  color:#6495ED!important;}

.logo {
    margin-top: 20px;
}

.error {
    text-align: left;
    color: #fb3951;
    font-size: 14px;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

.input-group-addon {
    padding: 0 0 0 0 px!important;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff!important;
    border: 1px solid #fff!important;
   /* border-radius: 0px 4px 4px 0px!important;*/
   border-radius: 0px 4px 4px 0px!important;
   
    width: 50px!important;
}

.log-btn {
    border: none;
    width: 100%;background: #31708f;color: #fff;padding: 2px;border-radius: 2px;height: 44px;font-size: 16px;text-transform: uppercase; font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;border-radius: 20px!important;
}
.bg-color{background:#496bb1;}

@media screen and (min-width:200px) and (max-width: 768px) { 
    
.account-wrapper{width:80%!important; margin:10% auto;  color:#FFF;}  
  
}

.bg-color{ background-color:#6495ED;}

/*.log_user {width: 100%;border-radius: 20px;padding: 15px;background: rgba(255, 255, 255, 0.1);
*/
.log_user {width: 100%;border-radius: 20px;padding: 15px;background: #555;


padding: 20px;}

.loicon{background: #e96125;border-radius: 65px;width: 90px;}

.loghead p{ color: #FFF;font-family: 'Raleway', sans-serif!important;font-size: 20px;text-transform: uppercase;font-weight: bold;text-align:center}

.form-control{ border:1px solid #FFF!important; box-shadow:none!important;}

.input-size{height: 35px;border-radius: 5px 0px 0px 5px!important;}

.error_ad p{ margin:0px!important;font-size: 14px;}

.login_form{animation-name:fadeOutLeft}

.login_box{padding:20px;margin:auto}.alignleft{margin-right:15px}.alignright{float:right;margin-left:15px}
.clearfix:after,form:after{content:".";display:block;height:0;clear:both;visibility:hidden}

.login_content{margin:0 auto;padding:25px 0 0;position:relative;text-align:center;text-shadow:0 1px 0 #fff;min-width:280px}

.login_content a:hover{text-decoration:underline}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #080808;
  color: white;
  text-align: center;
}

.alert {
   width:40%;    
}